:root {
  --color--bej: #a3a380;
  --color--main: #d6ce93;
}
.result {
  margin-bottom: 10px;
}
.select__operands {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  border: 2px solid white;
  margin-bottom: 10px;
  background-color: var(--color--bej);
  color: white;
  cursor: pointer;
}
.select__operands:hover {
  box-shadow: 0 0 10px black;
}
.display {
  padding: 10px;
  font-size: 20px;
  outline: none;
  display: none;
  border-radius: 10px;
  border: 2px solid white;
  margin-bottom: 10px;
  background-color: var(--color--bej);
  color: white;
}
.display:focus {
  color: white;
  background-color: white;
  color: var(--color--bej);
  border: 2px solid var(--color--bej);
}
.display:hover {
  box-shadow: 0 0 10px black;
}

.display.visible {
  display: inline;
}
.btn {
  padding: 10px;
  font-size: 20px;
  outline: none;
  border-radius: 10px;
  border: 2px solid white;
  margin-bottom: 10px;
  background-color: var(--color--bej);
  color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--color--main);
  box-shadow: 0 0 10px black;
}
.btn:active {
  background-color: cadetblue;
}

/*------------------------------------------------------- MOBILE 750*/
@media (max-width: 750px) {
  .numbers {
    width: 100%;
    margin: 20px auto;
  }
  .number__btn {
    padding: 10px;
    margin: 5px 20px;
  }
  .methods {
    width: 100%;
  }
}
