@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap");
@keyframes header_title {
  0% {
    text-shadow: 1px 1px 5px black;
    color: white;
  }
  50% {
    color: goldenrod;
  }
  100% {
    text-shadow: 1px 1px 5px black;
    color: white;
  }
}
h1 {
  text-align: center;
  letter-spacing: 3px;
}
h1 .header_title {
  font-size: 24px;
}

.header_menu-main {
  width: 100%;
  position: fixed;
  top: 0;
  height: 70px;
  background-color: rgba(163, 163, 128, 0.8);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 2px solid grey;
}
@media (min-width: 768px) {
  .header_menu-main {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    background-color: unset;
    border: none;
    box-shadow: 3px 3px 10px #333;
  }
}
.header_menu-burger {
  display: block;
  height: 80%;
  margin-right: 10px;
  border-radius: 50px;
  border: 1px hidden gray;
  transition: all 1s;
}
.header_menu-burger--rotated {
  transform: rotateZ(90deg);
}
@media (min-width: 768px) {
  .header_menu-burger {
    display: none;
  }
}
.header_menu-list {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: rgba(163, 163, 128, 0.8);
  transition: all 1.5s;
  transform: translateX(100%);
}
.header_menu-list--shown {
  transform: translateX(0%);
}
@media (min-width: 768px) {
  .header_menu-list {
    position: static;
    transform: translateX(0%);
    background-color: unset;
    display: flex;
    justify-content: space-around;
  }
}
.header_menu-item {
  display: block;
  padding: 10px;
  margin: 0;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header_menu-item {
    width: fit-content;
  }
}
.header_menu-link {
  text-shadow: 1px 1px 5px black;
  color: white;
  font-size: 24px;
}
.header_menu-link:hover {
  color: black;
  text-shadow: 1px 2px 5px white;
}
.header_menu-link:active {
  color: darkred;
}
@media (min-width: 768px) {
  .header_menu-link {
    font-size: 24px;
    font-weight: bold;
  }
}

.header_badge {
  width: 100%;
  margin-top: 90px;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: header_title 5s infinite;
  margin-bottom: 50px;
}
.header_badge-logo {
  max-width: 150px;
  margin-bottom: 30px;
}

/* ------------------------------ FOOTER -----------------------------*/
footer {
  width: 100%;
  background-color: var(--color--bej);
  display: flex;
  justify-content: flex-start;
  border-top: 1.5px dashed white;
  margin-top: 50px;
}
@media (min-width: 768px) {
  footer {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__content {
  padding: 15px;
  width: 80%;
}

.footer__icon {
  width: 30%;
}

.footer__link {
  text-decoration: none;
  color: black;
}

.footer__link:hover {
  color: white;
}

.footer__link:active {
  color: red;
}

/* FOOTER LOGO */
.footer__logo {
  min-height: 40px;
  padding: 0 20px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer__logo-bottom {
  background-color: var(--color--bej);
  margin-top: 20px;
  border-top: 1px solid #a1a188;
  /*MILITARY LIGHT*/
}

.footer__logo-link {
  width: fit-content;
  text-decoration: none;
  color: white;
  display: block;
  padding: 5px 5px 5px;
}

.footer__logo-link:hover {
  color: black;
  text-shadow: 5px 5px 10px black;
}

.footer__logo-link:active {
  color: red;
}

.footer__logo-link img {
  vertical-align: middle;
  border-radius: 20px;
  margin-right: 10px;
}

.footer__logo-link img:hover {
  background-color: black;
  box-shadow: 0 0 15px 10px black;
}

.footer__logo-link img:active {
  box-shadow: 0 0 10px red;
}

/* ------------------------------ FOOTER -----------------------------*/
/*----------------------------MAIL FORM-------------------------------------*/
.main__recruit {
  width: 100%;
  margin: 20px auto;
  background-color: #a3a380;
  border: 2px dashed white;
  box-shadow: 0 0 20px black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
@media (min-width: 768px) {
  .main__recruit {
    width: 70%;
  }
}

.main__recruit h3,
h4 {
  text-align: center;
}

.recruit__form-image {
  padding: 30px;
}

.main__recruit__input {
  max-width: 100%;
  border-radius: 5px;
  background-color: #d6ce93;
  padding: 20px;
  border: 1px dashed white;
  color: white;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  box-shadow: 0 0 15px black;
  margin-bottom: 20px;
  margin-top: 10px;
  caret-color: red;
}

.main__recruit__input.btn:hover {
  cursor: pointer;
  color: black;
  box-shadow: 0 0 15px lightgray;
}

.main__recruit__input.btn.submit:active {
  color: green;
  box-shadow: 0 0 15px green;
}

.main__recruit__input.btn.reset:active {
  color: red;
  box-shadow: 0 0 15px red;
}

/*----------------------------MAIL FORM-------------------------------------*/
/*--------------------FORM MOBILE-----------------------*/
* {
  box-sizing: border-box;
}

body {
  background-color: #d6ce93;
  font-family: "Cormorant Infant", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-shadow: 1px 1px 5px black;
  color: white;
}
a:active {
  color: red;
}

::-webkit-scrollbar {
  width: 3px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mini_navigator {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
}
.mini_navigator-container {
  position: fixed;
  bottom: 10px;
  right: 60px;
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin-right: 20px;
  transition: all 0.5s;
  z-index: 50;
  opacity: 1;
}
.mini_navigator-container--collapsed {
  transform: translateX(150%);
  opacity: 0;
}
.mini_navigator-btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50px;
  z-index: 55;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}
.mini_navigator-btn::after {
  content: .mini_navigator-btn::after #8648;
}
.mini_navigator-btn:hover {
  background-color: black;
  color: white;
  box-shadow: 0 0 50px white;
}
.mini_navigator-btn:active {
  box-shadow: 0px 0px 10px white;
  background-color: white;
  color: black;
}
.mini_navigator-btn.menu {
  display: flex;
}
@media (min-width: 768px) {
  .mini_navigator-btn.menu {
    display: none;
  }
}
.mini_navigator-arrow {
  font-size: 33px;
  display: block;
  height: fit-content;
}

/* ------------------------- MESSAGE BOX -----------------------------*/
@keyframes msbox-back-color {
  0% {
    background-color: darkred;
    color: white;
  }
  50% {
    background-color: black;
    color: darkred;
    color: #a3a380;
  }
  100% {
    background-color: darkred;
    color: white;
  }
}
.messageBox {
  width: 90%;
  font-size: 20px;
  font-family: Pangolin, Arial, Helvetica, sans-serif;
  box-shadow: 5px 5px 10px #a1a188;
  /*MILITARY LIGHT*/
  position: fixed;
  top: 30%;
  left: 50%;
  color: white;
  background-color: rgba(129, 97, 60, 0.9);
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 10px 10px;
  transform: translateX(-50%);
  z-index: 15;
  animation: msbox-back-color 10s infinite;
}
@media (min-width: 768px) {
  .messageBox {
    width: auto;
    font-size: 30px;
  }
}

.messageBox.invisible {
  display: none;
}

.messageBox__btn {
  font-size: 30px;
  margin-top: 10px;
  border: 2px solid #a1a188;
  /*MILITARY LIGHT*/
  outline: none;
  border-radius: 10px 20px 30px 40px;
  background-color: #5b6750;
  /*MILITARY 2*/
  color: white;
  cursor: pointer;
}

.messageBox__btn:hover {
  background-color: #a1a188;
  /*MILITARY LIGHT*/
  box-shadow: 0 0 10px white;
}

.messageBox__btn:active {
  color: #cc9a45;
  /* LETTERS*/
  box-shadow: 0 0 10px red;
}

/* ------------------------- MESSAGE BOX -----------------------------*/
/*-------------------- MESSAGE BOX MOBILE-------------------------*/

/*# sourceMappingURL=global.css.map */
