@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap");
.handbook__menu-container {
  display: flex;
  flex-direction: row;
  overflow: auto;
}
@media (min-width: 768px) {
  .handbook__menu-container {
    display: block;
  }
}

.topic_title {
  cursor: pointer;
  color: black;
  text-shadow: 1px 2px 5px white;
}
.topic_title:hover {
  text-shadow: 1px 1px 5px black;
  color: white;
}
.topic_title:active {
  color: darkred;
}

.handbook_card {
  min-width: 250px;
  max-width: 250px;
  cursor: pointer;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 10px #333;
  transition: all 0.8s;
  color: black;
  text-shadow: 1px 2px 5px white;
}
@media (min-width: 768px) {
  .handbook_card {
    min-width: unset;
    max-width: unset;
  }
}
.handbook_card-image {
  display: block;
  width: 100%;
  border-bottom: 1px solid white;
  padding: 10px;
}
.handbook_card-title {
  font-weight: bold;
}
.handbook_card:hover {
  box-shadow: 0 0 10px white;
  background-color: #333;
}

.content__menu-link {
  display: block;
}

.btn-back_to_menu {
  display: flex;
  position: fixed;
  bottom: 70px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: green;
  text-align: center;
  justify-content: center;
}
.btn-back_to_menu--invisible {
  display: none;
}
.btn-back_to_menu p {
  height: fit-content;
  align-self: center;
  justify-self: center;
}

main {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.subject_title {
  text-transform: uppercase;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
    justify-content: center;
  }
}
.main-sidebar_left {
  order: 0;
}
@media (min-width: 768px) {
  .main-sidebar_left {
    width: 20%;
    height: calc(100% - 58px);
    overflow-y: auto;
    position: fixed;
    top: 60px;
    left: 0;
    box-shadow: 3px 3px 10px #333;
  }
}
.main-sidebar_right {
  display: none;
  order: 1;
  position: fixed;
  top: 30%;
  left: 5%;
  width: 90%;
  height: 50%;
  background-color: #a3a380;
  overflow-y: auto;
  list-style-position: inside !important;
  text-align: center;
  box-shadow: -3px 3px 10px #333;
}
@media (min-width: 768px) {
  .main-sidebar_right {
    display: block;
    text-align: left;
    padding-left: 10px;
    width: 20%;
    font-size: 16px;
    padding-right: 10px;
    order: 2;
    position: fixed;
    top: 60px;
    right: 0;
    left: unset;
    height: calc(100% - 58px);
    background-color: unset;
  }
}
.main-sidebar_right--visible {
  display: block;
}
.main-content {
  order: 2;
  width: 100%;
  padding: 0 10px;
}
@media (min-width: 768px) {
  .main-content {
    order: 1;
    width: 60%;
    padding: 0 50px;
  }
}

.content_navigation_point {
  margin-top: 90px;
  padding: 15px 0;
  border-top: 2px solid darkred;
  border-bottom: 2px solid #333;
}

.btn_close_all {
  text-align: center;
  display: none;
  width: 50px;
  position: fixed;
  bottom: 70px;
  right: 10px;
  font-size: 30px;
  box-shadow: 2px 0 10px #333;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid black;
  color: red;
}
.btn_close_all:hover {
  background-color: black;
  color: white;
  font-weight: bolder;
}

h2, h3, h4 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black;
  margin-bottom: 30px;
}

hr {
  background-color: white;
  height: 2px;
}

img {
  max-width: 100%;
}

table {
  max-width: 100%;
}

.nav_title {
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}

.downloads-title {
  font-weight: bold;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.page_content_menu-list {
  list-style-type: initial;
  line-height: 2;
  font-size: 24px;
}
@media (min-width: 768px) {
  .page_content_menu-list {
    line-height: 1.5;
  }
}
.page_content_menu-link {
  text-decoration: none;
  color: black;
}
.page_content_menu-link:hover {
  text-shadow: 1px 1px 5px black;
  color: white;
}

.paragraph {
  text-align: justify;
  margin: 0 15px 20px;
  font-size: 20px;
  overflow: auto;
  list-style-position: inside;
}
@media (min-width: 768px) {
  .paragraph {
    font-size: 24px;
  }
}
.paragraph p {
  text-indent: 40px;
}

table {
  font-size: 14px;
  font-weight: 600;
}
@media (min-width: 768px) {
  table {
    font-size: 24px;
  }
}

/*# sourceMappingURL=handbook.css.map */
