@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap");
.handbook_card {
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 10px black;
  transition: all 0.8s;
  color: black;
  text-shadow: 1px 2px 5px white;
}
.handbook_card-image {
  display: block;
  width: 100%;
  border-bottom: 1px solid white;
  padding: 10px;
}
.handbook_card-title {
  font-weight: bold;
}
.handbook_card:hover {
  box-shadow: 0 0 10px white;
  background-color: #333;
}

.content__menu-link {
  display: block;
}

@media (min-width: 768px) {
  main {
    max-width: 1400px;
    margin: 0 auto;
  }
}

li {
  margin-left: 40px;
}

.topic_name {
  color: white;
  letter-spacing: 3px;
  font-size: 30px;
  text-align: left;
  margin-top: 30px;
}

.topic_title {
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  color: black;
  text-shadow: 1px 2px 5px white;
}
.topic_title:hover {
  text-shadow: 1px 1px 5px black;
  color: white;
}

.handbook__menu {
  margin-left: 10px;
  margin-right: 10px;
}
.handbook__menu-item {
  margin-bottom: 10px;
  box-shadow: 3px 3px 10px;
  border-radius: 10px;
}
.handbook__menu-item:hover {
  box-shadow: 3px 3px 10px #333;
}
.handbook__menu-container {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .handbook__menu-container {
    grid-template-columns: 30% 30% 30%;
  }
}

.handbook__menu__content-list {
  text-align: center;
  column-count: 1;
}
@media (min-width: 768px) {
  .handbook__menu__content-list {
    column-count: 3;
  }
}

.content__menu-item {
  padding: 10px;
}

.handbook__library__item-content {
  padding-left: 15px;
  padding-right: 15px;
}

.handbook__links__content ul {
  list-style-type: disc !important;
}

.btn_close_all {
  display: block;
  width: 50px;
  position: fixed;
  bottom: 70px;
  right: 10px;
  font-size: 30px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.btn_close_all:hover {
  background-color: darkred;
  box-shadow: 0 0 10px wheat;
}

main {
  max-width: 1300px;
}

h2, h3, h4 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black;
  margin-bottom: 30px;
}

hr {
  background-color: white;
  height: 2px;
}

img {
  max-width: 100%;
}

table {
  max-width: 100%;
}

.nav_title {
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}

.downloads-title {
  font-weight: bold;
  text-shadow: 1px 1px 5px black;
  color: white;
}

.page_content_menu-list {
  list-style-type: initial;
  line-height: 2;
  font-size: 24px;
}
@media (min-width: 768px) {
  .page_content_menu-list {
    line-height: 1.5;
  }
}
.page_content_menu-link {
  text-decoration: none;
  color: black;
}
.page_content_menu-link:hover {
  text-shadow: 1px 1px 5px black;
  color: white;
}

.paragraph {
  text-align: justify;
  margin: 0 15px 20px;
  font-size: 20px;
}
@media (min-width: 768px) {
  .paragraph {
    font-size: 24px;
  }
}
.paragraph p {
  text-indent: 40px;
}

table {
  font-size: 14px;
  font-weight: 600;
}
@media (min-width: 768px) {
  table {
    font-size: 24px;
  }
}

/*# sourceMappingURL=handbook.css.map */
