:root {
  --color--bej: #a3a380;
  --color--main: #d6ce93;
}

/*----------------------------------------------------------------------------*/
.main__intro {
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 1.5px dashed white;
}
.main__intro-content {
  width: 80%;
  margin: auto;
}
.main__intro-content ul {
  list-style-type: none;
  text-align: center;
}
.main__intro-content ul li {
  padding: 15px 0;
}
.main__intro img {
  display: block;
  width: 25%;
  margin: auto;
}
/*----------------------------------------------------------------------------*/
.main__speech {
  background-color: #a3a380;
  color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1.5px dashed white;
}

.main__speech-text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__speech-text-container {
  width: 100%;
}
.main__speech-text h3 {
  text-align: center;
  padding: 10px 0;
}
.main__speech-text-container p {
  text-align: justify;
  padding: 20px;
  line-height: 30px;
}

.main__speech-image {
  padding: 0;
  width: 50%;
}
.main__speech-image img {
  width: 100%;
  vertical-align: middle;
}
.main__speech__footer {
  width: 100%;
  text-align: center;
  line-height: 40px;
  padding: 30px 0 30px;
  border-top: 1px dashed white;
}
.main__speech__footer-link {
  color: black;
  text-decoration: none;
  outline: none;
  text-shadow: 0 0 15px black;
}
.main__speech__footer-link:hover {
  color: white;
  text-shadow: 0 0 10px white;
}
.main__speech__footer-link:active {
  text-shadow: 0 0 10px red;
}
/*---------------------------- ABOUT -------------------------------------*/
.about {
  width: 90%;
  margin: 50px auto;
  text-align: justify;
  line-height: 30px;
}
.about p {
  margin-bottom: 20px;
}

/*---------------------------- ABOUT ------------------------------------*/

/*----------------------------MAIL FORM-------------------------------------*/
.main__recruit {
  margin: 20px auto;
  width: 70%;
  background-color: #a3a380;
  border: 2px dashed white;
  box-shadow: 0 0 20px black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.main__recruit h3,
h4 {
  text-align: center;
}
.recruit__form-image {
  padding: 30px;
}
.main__recruit__input {
  border-radius: 5px;
  background-color: #d6ce93;
  padding: 20px;
  border: 1px dashed white;
  color: white;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  box-shadow: 0 0 15px black;
  margin-bottom: 20px;
  margin-top: 10px;
  caret-color: red;
}
.main__recruit__input.btn:hover {
  cursor: pointer;
  color: black;
  box-shadow: 0 0 15px lightgray;
}
.main__recruit__input.btn.submit:active {
  color: green;
  box-shadow: 0 0 15px green;
}
.main__recruit__input.btn.reset:active {
  color: red;
  box-shadow: 0 0 15px red;
}
/*----------------------------MAIL FORM-------------------------------------*/

/*---------------------------------MOBILE-------------------------------------------*/
@media (max-width: 767px) {
  .main__speech-text {
    width: 100%;
  }
  .main__speech-image {
    width: 100%;
  }
  .main__speech-image.first {
    order: 0;
  }
  .main__speech-text.first {
    order: 1;
  }
  .main__speech-image.second {
    order: 2;
  }
  .main__speech-text.second {
    order: 3;
  }
  .main__speech-image.third {
    order: 4;
  }
  .main__speech-text.third {
    order: 5;
  }
  .main__speech-image.forth {
    order: 6;
  }
  .main__speech-text.forth {
    order: 7;
  }
  .main__speech-image.fifth {
    order: 8;
  }
  .main__speech-text.fifth {
    order: 9;
  }
  .main__speech__footer {
    order: 10;
  }
}
