/*----------------------MOBILE--------------------------*/
@media (max-width: 767px) {
  .main__menu-content {
    display: flex;
    flex-wrap: wrap;
  }
}
/*----------------------MOBILE--------------------------*/

/*---------------------- DESKTOP -------------------------*/
.main__menu {
  margin-top: 100px;
  margin-bottom: 50px;
  border-top: 2px dashed #a1a188; /*MILITARY LIGHT*/
}
.main__menu-item {
  border: 2px dashed #a1a188; /*MILITARY LIGHT*/
  border-radius: 5px;
  margin: 15px 50px 15px;
}
.main__menu-topic {
  text-align: center;
  cursor: pointer;
}
.main__menu-content {
  border-top: 1px dashed#a1a188; /*MILITARY LIGHT*/
  display: flex;
  justify-content: space-around;
}

.main__menu-item-link {
  display: block;
  padding: 5px 0 5px;
  text-decoration: none;
  color: #a1a188; /*MILITARY LIGHT*/
  font-family: 'Neucha', sans-serif;
  font-size: 30px;
  outline: none;
  transition: all 0.2s;
}
.main__menu-item-link:hover {
  color: white;
  text-shadow: 0 0 20px white;
}
.main__menu-item-link:active {
  text-shadow: 0 0 20px red;
}
main__menu__content-list {
  display: block;
  width: 50%;
}
.content__menu-item {
  text-align: center;
  margin: 15px 0 20px;
  list-style-type: none;
}

.content__menu-link {
  text-decoration: none;
  color: #a1a188; /*MILITARY LIGHT*/
  font-family: 'Neucha', sans-serif;
  font-size: 24px;
  padding: 5px 10px 5px;
}

.content__menu-link:hover {
  border-radius: 5px;
  color: white;
  background-color: #444c38; /*OLIVE*/
  text-shadow: 0 0 20px white;
}
.content__menu-link:active {
  text-shadow: 0 0 15px red;
}

/*+++++++++++++++++++++++++++ HANDBOOK MAIN - MENU +++++++++++++++++++++++++++*/

.list__notHero {
  list-style-type: none;
}

/*---------------------- DESKTOP -------------------------*/
