@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
* {
  box-sizing: border-box;
}
:root {
  --color--bej: #a3a380;
  --color--main: #d6ce93;
}
body {
  font-size: 24px;
  font-family: 'Comfortaa', monospace;
  background-color: #d6ce93;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
}
body ul li {
  margin-left: 30px;
}
main {
  width: 100%;
}
/*------------------------------ ШАПКА -------------------------------*/
header {
  margin: 0 0 30px 0;
  padding: 0;
  text-align: center;
  border-bottom: 1.5px dashed white;
}
.header__logo {
  padding: 30px 0;
}
header h1 {
  font-size: 30px;
  padding: 20px 0;
}
header h3 {
  padding-bottom: 30px;
}
.header__menu-main-list {
  list-style-type: none;
  border-bottom: 1.5px dashed white;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}
.header__menu-main-list-link {
  display: block;
  width: 200px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.header__logo {
  width: 15%;
}
.header__menu-local {
  margin: auto;
  display: flex;
  justify-content: center;
}
.header__menu-local-list {
  width: 100%;
  list-style-type: none;
  border-top: 1.5px dashed white;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}
.header__menu-local-link {
  display: block;
  width: 200px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 18px;
}
.header__menu-local-link:hover,
.header__menu-main-list-link:hover {
  color: black;
  text-shadow: 0 0 25px black;
}
.header__menu-local-link:active,
.header__menu-main-list-link:active {
  color: red;
}
/*-------- --------------------------ШАПКА--------------------------*/

/* ------------------------------ HANDBOOK CONTENT ----------------------------*/
.content {
  width: 90%;
  margin: 30px auto;
  text-align: justify;
  padding: 20px;
}
.content h2,
h3 {
  text-align: center;
  padding-bottom: 20px;
}
.paragraph {
  line-height: 30px;
  color: white;
  background-color: var(--color--bej);
  padding: 25px;
  overflow: hidden;
  border: 2px dashed white;
  border-radius: 10px;
  box-shadow: 0 0 15px black;
}
.paragraph p {
  padding-bottom: 15px;
}
/* ------------------------------ HANDBOOK CONTENT ----------------------------*/

/*----------------------------MAIL FORM-------------------------------------*/
.main__recruit {
  margin: 20px auto;
  width: 70%;
  background-color: #a3a380;
  border: 2px dashed white;
  box-shadow: 0 0 20px black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.main__recruit h3,
h4 {
  text-align: center;
}
.recruit__form-image {
  padding: 30px;
}
.main__recruit__input {
  border-radius: 5px;
  background-color: #d6ce93;
  padding: 20px;
  border: 1px dashed white;
  color: white;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  box-shadow: 0 0 15px black;
  margin-bottom: 20px;
  margin-top: 10px;
  caret-color: red;
}
.main__recruit__input.btn:hover {
  cursor: pointer;
  color: black;
  box-shadow: 0 0 15px lightgray;
}
.main__recruit__input.btn.submit:active {
  color: green;
  box-shadow: 0 0 15px green;
}
.main__recruit__input.btn.reset:active {
  color: red;
  box-shadow: 0 0 15px red;
}
/*----------------------------MAIL FORM-------------------------------------*/

/*-------------------------- MINI MENU ---------------------------------------*/
.mini {
  background-color: transparent;
  border: none;
}
.mini__btn {
  outline: none;
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color--bej);
  border: 2px solid black;
  cursor: pointer;
}
.mini__btn:hover {
  box-shadow: 0 0 15px 10px white;
}
.mini__btn:active {
  box-shadow: 0 0 15px 10px black;
}
.mini__menu {
  display: none;
}
.mini__menu:hover {
  box-shadow: 0 0 15px 10px white;
}
.mini__menu:active {
  box-shadow: 0 0 15px 10px black;
}
.mini__menu.active {
  text-align: justify;
  padding: 10px;
  display: block;
  position: fixed;
  bottom: 85px;
  background-color: var(--color--bej);
  border: 2px solid black;
  border-right: none;
  border-radius: 10px 0 0 10px;
  right: 0;
}
.mini__menu__list li {
  padding: 0 0 10px 0;
  margin: 0;
}
.mini__menu__list-link {
  text-align: justify;
  text-decoration: none;
  color: black;
}
.mini__menu__list-link:hover {
  color: white;
}
.mini__menu__list-link:active {
  color: red;
}
/*-------------------------- MINI MENU ---------------------------------------*/

/* ------------------------------ FOOTER -----------------------------*/
footer {
  background-color: var(--color--bej);
  display: flex;
  justify-content: flex-start;
  border-top: 1.5px dashed white;
  margin-top: 50px;
}
.footer__content {
  padding: 15px;
  width: 80%;
}
.footer__icon {
  width: 30%;
}
.footer__link {
  text-decoration: none;
  color: black;
}
.footer__link:hover {
  color: white;
}
.footer__link:active {
  color: red;
}

/* FOOTER LOGO */
.footer__logo {
  min-height: 40px;
  padding: 0 20px 0;
  display: flex;
  justify-content: flex-start;
}

.footer__logo-bottom {
  background-color: #5b6750; /*MILITARY 2*/
  margin-top: 20px;
  border-top: 1px solid #a1a188; /*MILITARY LIGHT*/
}

.footer__logo-link {
  display: block;
  padding: 5px 5px 5px;
}

/* ------------------------------ FOOTER -----------------------------*/

/* ------------------------- MESSAGE BOX -----------------------------*/
.messageBox {
  font-family: 'Neucha', sans-serif;
  box-shadow: 5px 5px 10px #a1a188; /*MILITARY LIGHT*/
  position: fixed;
  top: 30%;
  left: 50%;
  font-size: 30px;
  font-weight: 700;
  color: white;
  background-color: rgba(129, 97, 60, 0.9);
  text-align: center;
  border: 2px dashed white;
  border-radius: 5px;
  padding: 10px 10px 10px;
  transform: translateX(-50%);
  z-index: 15;
}

.messageBox.invisible {
  display: none;
}

.messageBox__btn {
  font-size: 30px;
  margin-top: 10px;
  border: 2px solid #a1a188; /*MILITARY LIGHT*/
  outline: none;
  border-radius: 40%;
  background-color: #5b6750; /*MILITARY 2*/
  color: white;
  cursor: pointer;
}
.messageBox__btn:hover {
  background-color: #a1a188; /*MILITARY LIGHT*/
  box-shadow: 0 0 10px white;
}
.messageBox__btn:active {
  color: #cc9a45; /* LETTERS*/
  box-shadow: 0 0 10px red;
}
/* ------------------------- MESSAGE BOX -----------------------------*/
