
  $color-main: #d6ce93;
  $color-bej: #a3a380;

  //------------------------------ FONTS - START
  @import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap');

    $font-cormorant-infant: "Cormorant Infant", Arial, Helvetica, sans-serif;
    $font-pangolin: Pangolin, Arial, Helvetica, sans-serif;

    $font-size-main: 24px;
    $font-size-content-desktop: 20px;
    $font-size-menu-desktop: 16px;
    $font-size-main-mobile: 20px;

  //------------------------------ FONTS - END