/* ------------------------------ FOOTER -----------------------------*/
footer {
    width: 100%;
    background-color: var(--color--bej);
    display: flex;
    justify-content: flex-start;
    border-top: 1.5px dashed white;
    margin-top: 50px;

    @include media-breakpoint-up(md) {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .footer__content {
    padding: 15px;
    width: 80%;
  }
  .footer__icon {
    width: 30%;
  }
  .footer__link {
    text-decoration: none;
    color: black;
  }
  .footer__link:hover {
    color: white;
  }
  .footer__link:active {
    color: red;
  }
  
  /* FOOTER LOGO */
  .footer__logo {
    min-height: 40px;
    padding: 0 20px 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  
  .footer__logo-bottom {
    background-color: var(--color--bej);
    margin-top: 20px;
    border-top: 1px solid #a1a188; /*MILITARY LIGHT*/
  }
  
  .footer__logo-link {
    width: fit-content;
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px 5px 5px;
  }
  .footer__logo-link:hover {
    color: black;
    text-shadow: 5px 5px 10px black;
  }
  .footer__logo-link:active {
    color: red;
  }
  .footer__logo-link img {
    vertical-align: middle;
    border-radius: 20px;
    margin-right: 10px;
  }
  .footer__logo-link img:hover {
    background-color: black;
    box-shadow: 0 0 15px 10px black;
  }
  .footer__logo-link img:active {
    box-shadow: 0 0 10px red;
  }
  
  /* ------------------------------ FOOTER -----------------------------*/
  