/* ------------------------- MESSAGE BOX -----------------------------*/

@keyframes msbox-back-color {
  0%{
    box-shadow: 0px 0px 10px $color-bej;
  }

  50% {
    box-shadow: 0px 0px 10px #333;
  }

  100% {
    box-shadow: 0px 0px 10px $color-bej;
  }
}
.messageBox {
    width: 90%;
    font-size: 20px;    
    font-weight: bolder;
    box-shadow: 5px 5px 10px #a1a188; /*MILITARY LIGHT*/
    position: fixed;
    top: 25%;
    left: 50%;
    @include link-white-black;
    background-color: #333;
    text-align: center;
    // border: 2px solid white;
    border-radius: 5px;
    padding: 10px 25px 10px;
    transform: translateX(-50%);
    z-index: 15;
    animation: msbox-back-color 1s infinite;

    @include media-breakpoint-up(md){
        width: auto;
        font-size: 26px;
    }
  }
  
  .messageBox.invisible {
    display: none;
  }
  
  .messageBox__btn {
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin-top: 10px;
    border: 2px solid black; /*MILITARY LIGHT*/
    outline: none;
    border-radius: 50%;
    background-color: #5b6750; /*MILITARY 2*/
    // color: white;
    cursor: pointer;
  }
  .messageBox__btn:hover {
    background-color: #333; /*MILITARY LIGHT*/
    box-shadow: 0 0 10px white;
    color: white;
  }
  .messageBox__btn:active {
    color: #cc9a45; /* LETTERS*/
    box-shadow: 0 0 10px red;
  }
  /* ------------------------- MESSAGE BOX -----------------------------*/

