.handbook_card {
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1px 10px black;
    transition: all 0.8s;
    @include link-black-white;

    @include media-breakpoint-up(md) {
    }

    &-image {
        display: block;
        width: 100%;
        border-bottom: 1px solid white;
        padding: 10px;
    }
    &-title {
        font-weight: bold;
    }

    &:hover {
        box-shadow: 0 0 10px white;        
        background-color: #333;
    }
}

.content__menu-link {
    display: block;
}