@import 'card';
@import 'btnBackToMenu';

main {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.subject_title {
    text-transform: uppercase;
}

.main {
    &-container {
        width: 100%;
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            justify-content: center;
        }
    }

    &-sidebar_left {
        order: 0;

        @include media-breakpoint-up(md) {
            width: 20%;
            height: calc(100% - 58px);
            overflow-y: auto;
            position: fixed;
            top: 60px;
            left: 0;
            box-shadow: 3px 3px 10px #333;
        }
    }

    &-sidebar_right {
        display: none;
        order: 1;
        position: fixed;
        top: 30%;
        left: 5%;
        width: 90%;
        height: 50%;
        background-color: $color-bej;
        overflow-y: auto;
        list-style-position: inside !important;
        text-align: center;
        box-shadow: -3px 3px 10px #333;

        @include media-breakpoint-up(md) {
            display: block;
            text-align: left;
            padding-left: 10px;
            width: 20%;
            font-size:  $font-size-menu-desktop;
            padding-right: 10px;
            order: 2;
            position: fixed;
            top: 60px;
            right: 0;
            left: unset;
            height: calc(100% - 58px);
            background-color: unset;
        }

        &--visible {
            display: block;
        }
    }

    &-content {
        order: 2;
        width: 100%;
        padding: 0 10px;

        @include media-breakpoint-up(md) {
            order: 1;
            width: 60%;
            padding: 0 50px;
        }

    }
}

.content_navigation_point {
    margin-top: 90px;
    padding: 15px 0;
    border-top: 2px solid darkred;
    border-bottom: 2px solid #333;
}

.btn_close_all {
    text-align: center;
    display: none;
    width: 50px;
    position: fixed;
    bottom: 70px;
    right: 10px;
    font-size: 30px;
    box-shadow: 2px 0 10px #333;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
    color: red;

    &:hover {
        background-color: black;
        color: white;
        font-weight: bolder;
    }
}
